@import "./styles/header.css";
@import "./styles/hero.css";
@import "./styles/about.css";
@import "./styles/project.css";
@import "./styles/experience.css";
@import "./styles/contact.css";

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --debugger: 2px solid red;

    --width: clamp(580px, 80%, 1100px);

    --accent: #853ad0;

    --accent2: #5a258e;

    --transparent-background: #1c1c1cd3;

    --background: #1c1c1c;
}

html {
    scroll-behavior: smooth;

    scroll-padding: 20px 0px 0px 0px;
}

html, body {
    width: 100%;
    height: fit-content;

    overflow-x: hidden;

    background-color: var(--background);
}

body {
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

a * {
    color: var(--background);
}

summary {
    font-weight: 600;

    cursor: pointer;

    margin-bottom: 5px;
}

.highlight {
    color: var(--accent);
    /* background: linear-gradient(90deg, var(--accent2), var(--accent), var(--accent2));
    -webkit-background-clip: text;
    background-clip: text; */
  
    /* color: transparent; */

    font-weight: 600;
}

.italic {
    font-style: italic;
}

.mobile-only {
    display: none;
}

.no-scroll {
    overflow-y: hidden;
}

.link {
    color: var(--accent);
    text-decoration: underline;
}

button {
    transition: background-color 300ms;
}

@media (max-width: 800px) {
    .mobile-only {
        display: block;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-500px);
        opacity: 0;
        filter: blur(5px);
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes salute {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(70deg);
    }

    100% {
        transform: rotate(0deg);
    }
}