.experiences {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: fit-content;

    padding-block: 50px;

    background-color: var(--background);

    position: relative;
}

.experiences-content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 860px;
    height: 100%;
}

.experiences-content h2 {
    display: flex;

    align-items: center;

    font-size: 44px;

    color: white;

    margin-bottom:15px;

    z-index: 1;

    background-color: var(--background);

    height: 50px;
}

.experiences-content h3 {
    display: flex;

    align-items: center;

    margin-bottom: 25px;

    color: white;

    text-align: center;

    background-color: var(--background);

    z-index: 1;

    height: 45px;
}

.experiences-content::before {
    content: '';

    width: 5px;
    height: 100%;

    background-color: var(--accent);

    position: absolute;
    left: 50%;
}

.experiences-content .container {
    display: flex;

    justify-content: space-between;

    width: 100%;

    position: relative;
}

.experiences-content .container::after {
    content: '';

    --diameter: 32px;

    width: var(--diameter);
    height: var(--diameter);

    background-color: var(--background);

    border: 5px solid var(--accent);
    border-radius: 50%;

    position: absolute;
    top: 39%;
    left: 47.8%;
}

.experiences-content .container:nth-child(odd) {
    flex-direction: row-reverse;
}

.experiences-content .container .card {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    background-color: #ccc;

    padding: 20px;

    border-radius: 20px;

    gap: 5px;

    width: 350px;
}

.experiences-content .container .card p:first-child {
    margin-bottom: 10px;
}

.experiences-content .container .card * {
    width: 100%;
}

.experiences-content .container .card a > i {
    width: fit-content;
    margin-left: 5px;

    color: var(--accent);
}

.experiences-content .container:nth-child(odd) .description {
    text-align: right;
}

.experiences-content .container .description {
    display: flex;
    flex-direction: column;

    justify-content: center;

    gap: 5px;

    color: white;

    width: 350px;
}

.experiences-content .container .description h5 {
    font-size: 24px;
}

.experiences-content .container .description p:first-of-type {
    color: var(--accent);

    font-weight: 600;
}

@media (max-width: 800px) {
    .experiences {
        height: fit-content;
        padding-block: 50px;
    }

    .experiences-content::before {
        content: '';
        left: 3.5%;
    }

    .experiences-content {
        gap: 55px;

        height: fit-content;
        width: 100%;
    }

    .experiences-content h3 {
        width: 300px;
    }

    .experiences-content .container {
        padding-left: 50px;

        height: fit-content;
    }

    .experiences-content .container .description, .experiences-content .container .card {
        width: 90%;
    }

    .experiences-content .container .description {
        background-color: #ccc;

        border-radius: 20px 20px 0px 0px;

        padding: 20px 20px 0px;

        color: black;
    }

    .experiences-content .container .card {
        border-radius: 0px 0px 20px 20px;
    }

    .experiences-content .container::after {
        content: '';
    
        --diameter: 16px;
    
        width: var(--diameter);
        height: var(--diameter);
    
        top: 39%;
        left: 9px;
    }

    .experiences-content .container:nth-child(odd), .experiences-content .container {
        flex-direction: column-reverse;
    }

    .experiences-content .container:nth-child(odd) .description {
        text-align: left;
    }
}