.project {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: max(80vh, 1200px);

    background-color: aliceblue;
}

.project-content {
    display: flex;
    flex-direction: column;

    gap: 15px;

    justify-content: center;
    align-items: center;
}

.project-content > h2 {
    font-size: 44px
}

.project-content h3 {
    font-size: 24px;
}

.project-content hr {
    width: 450px;
    height: 5px;

    background-color: var(--accent);
    border: 2px solid var(--accent);

    border-radius: 4px;
}

.card-group {
    display: grid;

    width: 1080px;
    height: 900px;

    grid-template-columns: repeat(4, 150px);
    grid-template-rows: repeat(4, 200px);

    justify-items: center;
    align-items: center;

    justify-content: center;
    align-content: center;

    gap: 15px;

    overflow: hidden;
}

.card {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;

    background-color: #fff;

    border-radius: 20px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.678);

    overflow: hidden;
}

.card-background {
    position: absolute;
    top: 0;
    left: 0;

    width: calc(100% + 100px);
    height: 110%;

    background-image: linear-gradient(rgba(0, 0, 0, 0), black);

    
    z-index: 1;

    transition: translate 400ms 400ms;
}

.card-content {
    display: flex;
    flex-direction: column;

    gap: 10px;

    color: white;

    z-index: 2;

    transition: translate 400ms 400ms;
}

.card-content h2 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.721);

    padding: 0px 10px;
}

.card-content .card-box {
    width: 30px;
    height: 10px;

    background-color: var(--accent);

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    transition: width 400ms
}

.card-content p {
    padding: 0px 15px;
}

.card-content a > button {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    font-size: 32px;

    border: none;
    border-radius: 4px;

    outline: none;

    cursor: pointer;
}

.card-buttons-group {
    display: flex;

    justify-content: center;
    align-items: center;

    gap: 15px;

    width: 100%;
    height: fit-content;
}

.card-buttons-group a, .card-buttons-group button {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 32px;
    height: 32px;

    text-decoration: none;
    color: black;

    border-radius: 4px;
}

.card-content a * {
    color: black;
    text-decoration: none;
}

.size-1 {
    width: 150px;
    height: 200px;

    background-color: red;
}

.size-1 .card-content {
    translate: 0px 125px;
}

.size-1 p {
    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 4;

    overflow: hidden;
}

.size-1 h2 {
    font-size: 16px;
}

.size-1 .card-background {
    translate: 0px 110px;
}

.size-2 {
    width: 300px;
    height: 200px;

    background-color: green;

    grid-column: span 2;
}

.size-2 .card-content {
    translate: 0px 110px;
}

.size-2 .card-background {
    translate: 0px 110px;
}

.size-2 h2 {
    font-size: 20px;
}

.size-2 p {
    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2;

    overflow: hidden;

    padding: 0px 10px;

    transition: -webkit-line-clamp 400ms 400ms;
}

.size-3 {
    width: 300px;
    height: 400px;

    background-color: blue;

    grid-column: span 2;
    grid-row: span 2;
}
.size-3 .card-content {
    translate: 0px 210px;
}

.size-3 .card-background {
    translate: 0px 110px;
}

.size-3 p {
    display: -webkit-box;

    -webkit-box-orient: vertical;

    -webkit-line-clamp: 2;

    overflow: hidden;

    padding: 0px 10px;

    transition: -webkit-line-clamp 400ms 400ms;
}

.project-content > a > button {
    display: flex;

    justify-content: space-between;
    align-items: center;

    gap: 5px;

    padding: 10px 20px;

    width: 150px;

    border: none;
    border-radius: 4px;

    font-size: 16px;

    cursor: pointer;
}

.project-content > a > button i {
    font-size: 32px;
}

@media (hover: hover) {
    .card-content button:hover, .card-content button:focus-within {
        background-color: black;
        color: white;
    }

    .card:hover .card-content, .card:focus-within .card-content {
        translate: 0px 0px;
    }

    .card:hover .card-background, .card:focus-within .card-background {
        translate: 0px -15px;
    }

    .card:hover .card-content .card-box, .card:focus-within .card-content .card-box {
        width: 80%;
    }

    .size-2:hover p, .size-2:focus-within p {
        -webkit-line-clamp: 4;
    }

    .size-3:hover p, .size-3:focus-within p {
        -webkit-line-clamp: 14;
    }

    .card-content > .card-buttons-group > a > button:hover, 
    .card-content > .card-buttons-group > a > button:focus-within {
        background-color: var(--accent);
    }

    .card-content > .card-buttons-group > a > button:hover i, .card-content > a > button:focus-within i {
        color: white;
    }

    .card-content > .card-buttons-group > a > button:hover i, .card-content > a > button:focus-within i {
        color: white;
    }

    .project-content > a > button:hover, 
    .project-content > a > button:focus-within {
        background-color: var(--accent);

        color: white;
    }

    .project-content > a > button:focus-within i, .project-content > a > button:hover i {
        color: white;
    }
}

@media (max-width: 800px) {
    .project {
        height: 2000px;
    }

    body, .card-group {
        height: 100%;
    }

    .project-content hr {
        width: 10%;
    }

    .card-group {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        padding: 10px 0px;
    }

    .mobile {
        width: 300px;
        height: 200px;
    }

    .mobile h2 {
        font-size: 20px;
    }

    .mobile p {
        display: -webkit-box;

        -webkit-box-orient: vertical;

        -webkit-line-clamp: 2;

        overflow: hidden;
    }

    .card .card-content, .card .card-content {
        translate: 0px 0px;
    }

    .card .card-background, .card .card-background {
        translate: 0px -15px;
    }

    .card .card-content .card-box, .card .card-content .card-box {
        width: 80%;
    }
}